/*Fonts*/

@font-face {
    font-family: 'bebas_neue';
    src: url(../fonts/BebasNeue2/BebasNeue_Bold.ttf);
}

/*Black & White colours used throughout the site*/

.white {
	color:#fff;
}

.black {
	color:#202020;
}

/*Headers*/

h1 {
    font-family: 'bebas_neue',serif;
	font-size: 85px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

h2 {
    font-family: 'bebas_neue',serif;
	font-size: 60px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

h3 {
    font-family: 'bebas_neue',serif;
	font-size: 27px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

/*Body copy*/

p {
	font-family: "fira-sans-2",sans-serif;
	font-style: normal;
	font-weight: 500;
    font-size: 16px;
    color: #202020;
    line-height: 30px;
}

small {
	font-family: 'fira-sans-2';
    font-weight: 500;
    color: #FFFFFF;
    line-height: 12px;
    width: 400px;
    font-size: 10px;
}

/* ================================ HEADER ================================= */

header {
	position: fixed;
	top: 0px;
	z-index: 999;
	width: 100%;	
}

.homeLogo {
    width: 210px;
    height: auto;
    position: absolute;
    left: 16.5%;
    top: 60px;
    opacity: 0.9;
    z-index: 99999;
}

.homeLogo img {
	width: 100%;
}

.SM-HomeHorizontal {
    position: absolute;
    top: 70px;
    right: 14%;
    height: 20px;
    width: auto;
    z-index: 9999;
}

.facebookLight {
    background: url(../img/icons/fb-01.png) center center no-repeat;
    background-size: auto 100%;
    height: 20px;
    width: 20px;
    opacity: 1 !important;
}

.twitterLight {
    background: url(../img/icons/twitter-01.png) center center no-repeat;
    background-size: auto 100%;
    height: 20px;
    width: 25px;
    opacity: 1 !important;
}

.instagramLight {
    background: url(../img/icons/instagram-01.png) center center no-repeat;
    background-size: auto 100%;
    height: 20px;
    width: 20px;
    opacity: 1 !important;
}

.SMimg {
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
}

.accreditationsHome {
    width: 380px;
    position: absolute;
    bottom: 50px;
    right: 15%;
}

/*Sidebar left*/

#pageLocator {
	width: 10%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}

.locatorText {
    position: absolute;
    top: 140px;
	left: 15px;
    text-align: right;
    width: 170px;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.locatorText p {
	margin: 0px;	
}

#LLOne {
    position: fixed;
    width: 10px;
    height: 1px;
    bottom: 130px;
    left: 5%;
    background: #202020;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

#LLTwo {
    position: fixed;
    width: 10px;
    height: 1px;
    bottom: 110px;
    left: 5%;
    background: #CBCBCB;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

#LLThree {
    position: fixed;
    width: 10px;
    height: 1px;
    bottom: 90px;
    left: 5%;
    background: #CBCBCB;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

#LLFour {
    position: fixed;
    width: 10px;
    height: 1px;
    bottom: 70px;
    left: 5%;
    background: #CBCBCB;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

/*Sidebar right*/

#pageMenu {
	width: 10%;
	height: 100%;
	background: #202020;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999999;
}

/*Menu Icon*/

.menuIcon {
	position:absolute; 
	top:50px; 
	left: 50%;
    margin-left: -25px;
	height:10%;
	width:50%;
	z-index:9999999;
	cursor:pointer;
}

.menuIcon:hover .one {
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	width: 22px;
}

.menuIcon:hover .two {
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	width: 27px;
}

.menuIcon:hover .three {
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	width: 22px;
}

.one {
	width: 27px;
	height: 2px;
	background: #f9f9f9;
	backface-visibility: hidden;
	margin-top: 0px !important;
	margin-bottom: 4px;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	margin-left: 12px;
}

.two {
	width: 22px;
	height: 2px;
	background: #f9f9f9;
	margin: 0px auto 0px 12px;
	backface-visibility: hidden;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	margin-bottom: 4px;
}

.three {
	width: 27px;
	height: 2px;
	background: #f9f9f9;
	margin-left: 12px;
	backface-visibility: hidden;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.menuIcon.on .one {
	-moz-transform: rotate(45deg) translate(-3px, -2px);
	-ms-transform: rotate(45deg) translate(-3px, -2px);
	-webkit-transform: rotate(45deg) translate(-3px, -2px);
	transform: rotate(45deg) translate(-3px, -2px);
	margin-top:8px !important;
}

.menuIcon.on .two {
	opacity: 0;
}

.menuIcon.on .three {
	-moz-transform: rotate(-45deg) translate(5px, -6px);
	-ms-transform: rotate(-45deg) translate(5px, -6px);
	-webkit-transform: rotate(-45deg) translate(5px, -6px);
	transform: rotate(-45deg) translate(5px, -6px);
	margin-top: -8px !important;
}

.menuLogo {
	width: 210px;
	height: auto;
	position: fixed;
	left: 16.6%;
	top: 100px;
	opacity: 1;
	z-index: 999999;
	-webkit-animation-delay: 500ms;
	animation-delay: 500ms;
}

/* ========== Nav open ==========*/

.homeNavLogo {
    width: 210px;
    height: auto;
    position: absolute;
    left: 150px;
    top: 90px;
    opacity: 0.9;
    z-index: 99999;
}

.homeNavLogo img {
	width:100%;
}

.nav {
	position:absolute;
	left:150px;
	top:200px;
}

.nav ul {
	padding:0;
}


.nav ul li {
	list-style-type:none;
}

.nav ul li h2 {
	font-size:120px;
	margin-top:0;
}

.terms {
	width: 320px;
}

.appointments {
	position:absolute;
	right:0;
	top:0;
	width:0%;
	height:100%;
	background:#fff;
}

.navNewsWrapper {
	height: 100%;
    width: 100%;
}

.navNewsWrapper .bx-wrapper {
	height: 100%;
	width: 100%;
}

.navNewsWrapper .bx-wrapper .bx-viewport {
	width: 100%;
	overflow: hidden;
	position: relative;
	height: 350px;
}

.navNews {
	width: 100%;
    position: relative;
    transition-duration: 0s;
    transform: translate3d(0px, -5px, 0px);
    height: 350px;
}

.navNewsWrapper .bx-wrapper .bx-viewport ul li {
	width: 100%;
	margin-bottom: 5px;
	height: 340px;
}

.navNewsWrapper .bx-wrapper img {
    max-width: 100%;
    display: block;
    height: auto;
    width: 100%;
}

/* ========== Home Main Structure ==========*/

#mainWrapper {
	width: 100%;	
}

#introHome {
    background: url(../img/people/HEADER_BW2-2.png) center center no-repeat;
    background-color: #fff;
    background-size: cover;
    background-position-x: -105px;
    position: fixed;
    top: 0;
	width: 100%;
}

.cd-intro {
    -webkit-animation-delay: 1s !important;
    animation-delay: 1s !important;
    padding-top: 130px !important;
}

.cd-headline {
    margin: 0.6em 0 0.37em 0;
    padding-left: 16.6666667%;
    text-align: left;
    color: #fff;
    font-family: 'bebas_neue', serif;
    font-weight: 900;
    font-size: 85px;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    height: 290px;
    line-height: 1;
}

.introCopy {
	position: relative;
    z-index: 10;
    width: 87%;
    max-width: 1120px;
    height: auto;
    padding-left: 16.6666667%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.introCopy p {
    color: #fff;
	font-size:18px;
}

/* ============ SELECT SERVICES ============*/

#homeSelectServices {
    padding: 0 10% 0 11%;
    position: relative;
    background-color: #fff;
    margin-top: 55%;
}

#homeSelectServices .header .slider_title {
	margin: 60px 0px 60px 0px;
	text-align: center;
	display: block;
    float: left;
    width: 100%;
}

.sliderContainer {
	height: 200px;
	width: 100%;
	background: #000;
	float:left;	
}

.sliderThumbnail {
	width: 65%;
	float: left;
	background: #969696;
}

.sliderText {
	width: 35%;
	float: left;
	background: #666;
}

#bx-pager {
    position: absolute;
    top: 27%;
    width: 80%;
    right: 2.5%;
    z-index: 99;
}

#strategyServiceImg {
	background: url(../img/Bobbi_mac.png) center no-repeat;
	background-size: cover;
	width: 60%;
	height: 65.4%;
	top: 34.6%;
	position: absolute;
	z-index: 180 !important;
}
#brandingServiceImg {
	background:url(../img/Branding.jpg) center no-repeat;
	background-size: cover;
	width: 60%;
	height: 65.4%;
	top: 34.6%;
	position: absolute;
	z-index: 180 !important;
}
#digitalServiceImg {
	background:url(../img/digital-image.jpeg) center no-repeat;
	background-size: cover;
	width: 60%;
	height: 65.4%;
	top: 34.6%;
	position: absolute;
	z-index: 180 !important;
}
#printServiceImg {
	background:url(../img/PrintPress.jpg) center no-repeat;
	background-size: cover;
	width: 60%;
	height: 65.4%;
	top: 34.6%;
	position: absolute;
	z-index: 180 !important;
}
#videoServiceImg {
	background:url(../img/Video.jpg) center no-repeat;
	background-size: cover;
	width: 60%;
	height: 65.4%;
	top: 34.6%;
	position: absolute;
	z-index: 180 !important;
}
#eventsServiceImg {
	background:url(../img/events-image.jpeg) center no-repeat;
	background-size: cover;
	width: 60%;
	height: 65.4%;
	top: 34.6%;
	position: absolute;
	z-index: 180 !important;
}

.selectServicesDisc {
    position: absolute;
    top: 34.6%;
    right: 0%;
    width: 40%;
    height: 65.4%;
    background-color: #414141;
    z-index: 99999;
}

/*Gradients*/

.background_opaque {
	/*Used on footer map div*/
	background: -moz-linear-gradient(top,  rgba(32,32,32,1) 5%, rgba(32,32,32,1) 27%, rgba(32,32,32,0.75) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(32,32,32,1)), color-stop(27%,rgba(32,32,32,1)), color-stop(100%,rgba(32,32,32,0.75))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(32,32,32,1) 5%,rgba(32,32,32,1) 27%,rgba(32,32,32,0.75) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(32,32,32,1) 5%,rgba(32,32,32,1) 27%,rgba(32,32,32,0.75) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(32,32,32,1) 5%,rgba(32,32,32,1) 27%,rgba(32,32,32,0.75) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(32,32,32,1) 5%,rgba(32,32,32,1) 27%,rgba(32,32,32,0.75) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#bf202020',GradientType=0 ); /* IE6-9 */
	height:100%;
	width:100%;
}

.background_opaque2 {
    /*Used on home landing div + contact landing div*/
	z-index: 0;
	position:absolute;
	top:0;
	left:0;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(28,28,28,1) 86%, rgba(32,32,32,1) 97%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(86%,rgba(28,28,28,1)), color-stop(97%,rgba(32,32,32,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(28,28,28,1) 86%,rgba(32,32,32,1) 97%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(28,28,28,1) 86%,rgba(32,32,32,1) 97%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(28,28,28,1) 86%,rgba(32,32,32,1) 97%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(28,28,28,1) 86%,rgba(32,32,32,1) 97%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#202020',GradientType=0 ); /* IE6-9 */
	height:100%;
	width:100%;
}

.background_opaque3 {
	display: none;
	position:absolute;
	top:0;
	left:0;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(219,219,219,1) 86%, rgba(247,247,247,1) 97%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(86%,rgba(219,219,219,1)), color-stop(97%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(219,219,219,1) 86%,rgba(247,247,247,1) 97%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(219,219,219,1) 86%,rgba(247,247,247,1) 97%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(219,219,219,1) 86%,rgba(247,247,247,1) 97%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(219,219,219,1) 86%,rgba(247,247,247,1) 97%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
	height:100%;
	width:100%;
}


/* ==========================================*/
/* ============= RESPONSIVENESS =============*/
/* ==========================================*/

/*GENERAL*/

/****************************
***  Palm
****************************/
@media only screen and (max-width: 600px) {

/* ========== Nav open ==========*/

.homeNavLogo {
    left: auto;
    right: 24px;
    top: 33px;
	width: 160px;
}

.nav {
    position: absolute;
    left: 20px;
    top: 120px;
}

.nav ul li h2 {
	font-size:70px;
	margin-top:0;
}

.appointments {
    position: absolute;
    right: auto;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 20%;
    background: #fff;
}

}

/****************************
***  Lap and up
****************************/
@media only screen and (min-width: 601px) {
}

/****************************
***  Lap
****************************/
@media only screen and (min-width: 601px) and (max-width: 1060px) {

/* ========== Nav open ==========*/

.homeNavLogo {
    left: 40px;
    top: 110px;
}

.nav {
    position: absolute;
    left: 50px;
    top: 200px;
}

.nav ul li h2 {
	font-size:90px;
	margin-top:0;
}

}

/****************************
***  Desk
****************************/
@media only screen and (min-width: 1061px) {
}


/*SPECIFIC*/

