/*Black & White colours used throughout the site*/

.white {
	color:#fff;
}

.black {
	color:#202020;
}

/*Body copy*/

p {
    font-family: 'fira-sans-2';
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
}

h2 {
    font-family: 'bebas_neue',serif;
	font-size: 60px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

h3 {
    font-family: 'bebas_neue',serif;
	font-size: 27px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
