body {
	margin: 0;
	background:#202020;
}

/*Fonts*/

@font-face {
    font-family: "bebas_neue";
    src: url("../fonts/BebasNeue2/BebasNeue_Bold.ttf");
    src: url('../fonts/BebasNeue1/bebasneue_bold-webfont.eot');
    src: url('../fonts/BebasNeue1/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue1/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/BebasNeue1/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/BebasNeue1/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue1/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    -webkit-font-smoothing: antialiased;
}

/*Black & White colours used throughout the site*/

.white {
	color:#fff;
}

.black {
	color:#202020;
}

/*Headers*/

h1 {
    font-family: "bebas_neue",serif;
	font-size: 85px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 10px;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-family: "bebas_neue",serif;
	font-size: 60px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 10px;
    -webkit-font-smoothing: antialiased;
}

h3 {
    font-family: "bebas_neue",serif;
	font-size: 27px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 10px;
    -webkit-font-smoothing: antialiased;
}

/*Body copy*/

p {
	font-family: "fira-sans-2",sans-serif;
	font-style: normal;
	font-weight: 500;
    font-size: 16px;
    color: #202020;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
}

small {
	font-family: 'fira-sans-2';
    font-weight: 500;
    color: #FFFFFF;
    line-height: 12px;
    width: 400px;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

/* ========== Opacities ========== */

.background_opaque2 {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(28,28,28,1) 86%, rgba(32,32,32,1) 97%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(86%,rgba(28,28,28,1)), color-stop(97%,rgba(32,32,32,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(28,28,28,1) 86%,rgba(32,32,32,1) 97%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(28,28,28,1) 86%,rgba(32,32,32,1) 97%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(28,28,28,1) 86%,rgba(32,32,32,1) 97%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(28,28,28,1) 86%,rgba(32,32,32,1) 97%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#202020',GradientType=0 );
    height: 100%;
    width: 100%;
}

/* ================================ HEADER ================================= */

header {
	position: fixed;
	top: 0px;
	z-index: 0;
	width: 100%;	
}

.homeLogo {
    width: 210px;
    height: auto;
    position: absolute;
    left: 16.5%;
    top: 60px;
    opacity: 0.9;
    z-index: 99999;
}

.homeLogo img {
	width: 100%;
}

.SM-HomeHorizontal {
    position: absolute;
    top: 70px;
    right: 14%;
    height: 20px;
    width: auto;
    z-index: 9999;
}

.facebookLight {
    background: url(../img/icons/fb-01.png) center center no-repeat;
    background-size: auto 100%;
    height: 20px;
    width: 20px;
    opacity: 1 !important;
}

.twitterLight {
    background: url(../img/icons/twitter-01.png) center center no-repeat;
    background-size: auto 100%;
    height: 20px;
    width: 25px;
    opacity: 1 !important;
}

.instagramLight {
    background: url(../img/icons/instagram-01.png) center center no-repeat;
    background-size: auto 100%;
    height: 20px;
    width: 20px;
    opacity: 1 !important;
}

.SMimg {
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
}

.accreditationsHome {
    width: 380px;
    position: absolute;
    top: 65px;
    right: 18%;
}

/*Sidebar left*/

#pageLocator {
	width: 10%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	letter-spacing: 7px;
}

.textContainer {	
	position: relative;
	height: 100px;
    width: 20px;
    margin: 150px auto 0 auto;
}

.locatorText {    
    text-align: right;    
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.locatorText p {
	margin: 0px;	
}

#LLOne {
    position: fixed;
    width: 10px;
    height: 1px;
    bottom: 130px;
    left: 5%;
    background: #202020;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

#LLTwo {
    position: fixed;
    width: 10px;
    height: 1px;
    bottom: 110px;
    left: 5%;
    background: #CBCBCB;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

#LLThree {
    position: fixed;
    width: 10px;
    height: 1px;
    bottom: 90px;
    left: 5%;
    background: #CBCBCB;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

#LLFour {
    position: fixed;
    width: 10px;
    height: 1px;
    bottom: 70px;
    left: 5%;
    background: #CBCBCB;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

/*Sidebar right*/

#pageMenu {
	width: 10%;
	height: 100%;
	background: #202020;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999999;
}

/*Menu Icon*/

.menuIcon {
	position:absolute; 
	top:50px; 
	left: 50%;
    margin-left: -25px;
	height:10%;
	width:50%;
	z-index:9999999;
	cursor:pointer;
}

.menuIcon:hover .one {
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	width: 22px;
}

.menuIcon:hover .two {
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	width: 27px;
}

.menuIcon:hover .three {
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	width: 22px;
}

.one {
	width: 27px;
	height: 2px;
	background: #f9f9f9;
	backface-visibility: hidden;
	margin-top: 0px !important;
	margin-bottom: 4px;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	margin-left: 12px;
}

.two {
	width: 22px;
	height: 2px;
	background: #f9f9f9;
	margin: 0px auto 0px 12px;
	backface-visibility: hidden;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	margin-bottom: 4px;
}

.three {
	width: 27px;
	height: 2px;
	background: #f9f9f9;
	margin-left: 12px;
	backface-visibility: hidden;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.menuIcon.on .one {
	-moz-transform: rotate(45deg) translate(-3px, -2px);
	-ms-transform: rotate(45deg) translate(-3px, -2px);
	-webkit-transform: rotate(45deg) translate(-3px, -2px);
	transform: rotate(45deg) translate(-3px, -2px);
	margin-top:8px !important;
}

.menuIcon.on .two {
	opacity: 0;
}

.menuIcon.on .three {
	-moz-transform: rotate(-45deg) translate(5px, -6px);
	-ms-transform: rotate(-45deg) translate(5px, -6px);
	-webkit-transform: rotate(-45deg) translate(5px, -6px);
	transform: rotate(-45deg) translate(5px, -6px);
	margin-top: -8px !important;
}

.menuLogo {
	width: 210px;
	height: auto;
	position: fixed;
	left: 16.6%;
	top: 100px;
	opacity: 1;
	z-index: 999999;
	-webkit-animation-delay: 500ms;
	animation-delay: 500ms;
}

.menuSM {
	position: absolute;
    bottom: 70px;
    padding-left: 50%;
}

.singleMenuSM img {
	height: 15px;
    vertical-align: middle;
    margin-left: -10px;
    margin-top: 20px;
    cursor: pointer;
}

/* ========== Nav open ==========*/

.homeNavLogo {
    width: 210px;
    height: auto;
    position: absolute;
    left: 150px;
    top: 90px;
    opacity: 0.9;
    z-index: 99999;
}

.homeNavLogo img {
	width:100%;
}

.nav {
	position:absolute;
	left:150px;
	top:200px;
}

.nav ul {
	padding:0;
}


.nav ul li {
	list-style-type:none;
}

.nav ul li h2 {
	font-size:120px;
	margin-top:0;
}

.nav ul li h2 a {
	color:#fff;
}

.terms {
	width: 320px;
}

.appointments {
	position:absolute;
	right:0;
	top:0;
	width:0%;
	height:100%;
	background:#fff;
}

.navNewsWrapper {
	height: 100%;
    width: 100%;
}

.navNewsWrapper .bx-wrapper {
	height: 100%;
	width: 100%;
}

.navNewsWrapper .bx-wrapper .bx-viewport {
	width: 100%;
	overflow: visible !important;
	position: relative;
	height: 350px;
}


.navNews {
	width: 100%;
    position: relative;   
    padding: 0px;
    margin: 0px;    
}

.navNewsWrapper .bx-wrapper .bx-viewport ul li {
	width: 100% !important;
	margin-bottom: 5px;
	height: 340px;
	margin: 0px;
	padding: 0px;
}

.navNewsWrapper .bx-wrapper img {
    display: block;
    height: 100%;    
	width: auto;
}

.navNewsWrapper .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: 30px;	
}

/* ========== Home Main Structure ==========*/

#mainWrapper {
	width: 100%;
	overflow: hidden;	
}

#introHome {
    background: url(../img/people/HEADER_BW2-2.png) center center no-repeat;
    background-color: #fff;
    background-size: cover;
    background-position-x: -105px;
    position: fixed;
    top: 0;
	width: 100%;
	z-index: 0;
}

.cd-intro {
    -webkit-animation-delay: 1s !important;
    animation-delay: 1s !important;
    padding-top: 220px;
}

.cd-headline {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'bebas_neue', serif;
    font-weight: 900;
    font-size: 135px;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    height: auto;
    line-height: 1;
}

.introCopy {
	position: relative;
    z-index: 10;
    width: 87%;
    max-width: 1120px;
    height: auto;
    padding-left: 16.6666667%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.introCopy p {
    color: #fff;
	font-size:18px;
    width: 80%;
    max-width: 750px;
}

/* ============ SELECT SERVICES ============*/

.servicesSliderContainer {
 }

 .servicesSliderContainer .bx-viewport {
 	overflow: visible !important;
 }

 .servicesSlider {
	padding: 0px; 
 }

.sliderHeader {
	overflow: hidden;
}

#homeSelectServices {
    padding: 70px 10% 0 10%;
    position: relative;
    background-color: #fff;
}

#homeSelectServices .header .slider_title {
	margin: 60px 0px 60px 0px;
	text-align: center;
	display: block;
    float: left;
    width: 100%;
}

.bx-viewport {
	background:#202020;
}

.sliderContainer {
	height: 200px;
	width: 100%;
	background: #000;
	float:left;	
}

.slider_title {
	text-align: center;	
	font-size:  4.5vw;			
}

.sliderThumbnail {
	width: 60%;
	height: 100%;
	float: left;
	background: #969696;
}

.sliderText {
	width: 40%;
	float: left;
	background: #202020;
	position: relative;
}

.sliderText p {    
    color: #FFFFFF;
    padding: 20px;
    font-size: 18px !important;
    line-height: 26px !important;
}

.projectExamples {
	position: absolute;
	width: 100%;
	height: 200px;
	bottom: 0;
	left: 0;
	padding-left: 20%;
}

.singularExample {
	background: #202020;
	width: 100%;
	height:100px;
}

#servicesPager {
	margin: 50px auto 20px auto;    
    text-align: center;
}

#servicesPager a {
	text-align: center;
    font-weight: 900;
    padding: 10px 0px;
    color: #202020;
    font-family: 'bebas_neue',serif;
    font-size: 20px !important;
    width: 10%;
    display: inline-block;
}

#servicesPager a.active {
    color: #CCC;
}

.selectServicesDisc {
    position: absolute;
    top: 34.6%;
    right: 0%;
    width: 40%;
    height: 65.4%;
    background-color: #414141;
    z-index: 99999;
}

.serviceName {	
    text-align: left !important;
    color: #202020 !important;
    font-family: 'bebas_neue',serif !important;
    font-weight: 900 !important;
    font-size: 4.5vw !important;
    text-transform: uppercase;
    cursor: pointer;
    margin: 1% 0 !important;
    text-decoration: underline;
    transition: all 0.5s ease;
    overflow: hidden;      
}

/* ============ THE TEAM ============*/

#homeOurPeople {
	padding: 0 10%;
	position: relative;
}

.ourPeopleIntro {
	background: #202020;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

/*Gradients*/

.background_opaque_header {
	/*Used on header div*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#202020+0,000000+100&amp;1+1,1+4,0.61+46,0+100 */
	background: -moz-linear-gradient(top,  rgba(32,32,32,1) 0%, rgba(32,32,32,1) 1%, rgba(31,31,31,1) 4%, rgba(17,17,17,0.61) 46%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(32,32,32,1)), color-stop(1%,rgba(32,32,32,1)), color-stop(4%,rgba(31,31,31,1)), color-stop(46%,rgba(17,17,17,0.61)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(32,32,32,1) 0%,rgba(32,32,32,1) 1%,rgba(31,31,31,1) 4%,rgba(17,17,17,0.61) 46%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(32,32,32,1) 0%,rgba(32,32,32,1) 1%,rgba(31,31,31,1) 4%,rgba(17,17,17,0.61) 46%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(32,32,32,1) 0%,rgba(32,32,32,1) 1%,rgba(31,31,31,1) 4%,rgba(17,17,17,0.61) 46%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(32,32,32,1) 0%,rgba(32,32,32,1) 1%,rgba(31,31,31,1) 4%,rgba(17,17,17,0.61) 46%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	height:100%;
	width:100%;
	position: absolute;
	top: 0;
	left: 0;
}

.background_opaque {
	/*Used on footer map div*/
	background: -moz-linear-gradient(top,  rgba(32,32,32,1) 5%, rgba(32,32,32,1) 27%, rgba(32,32,32,0.75) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(32,32,32,1)), color-stop(27%,rgba(32,32,32,1)), color-stop(100%,rgba(32,32,32,0.75))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(32,32,32,1) 5%,rgba(32,32,32,1) 27%,rgba(32,32,32,0.75) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(32,32,32,1) 5%,rgba(32,32,32,1) 27%,rgba(32,32,32,0.75) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(32,32,32,1) 5%,rgba(32,32,32,1) 27%,rgba(32,32,32,0.75) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(32,32,32,1) 5%,rgba(32,32,32,1) 27%,rgba(32,32,32,0.75) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#bf202020',GradientType=0 ); /* IE6-9 */
	height:100%;
	width:100%;
	position: absolute;
	top: 0;
	left: 0;
}

.background_opaque2 {
    /*Used on home landing div + contact landing div*/
	z-index: 0;
	position:absolute;
	top:0;
	left:0;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(28,28,28,1) 86%, rgba(32,32,32,1) 97%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(86%,rgba(28,28,28,1)), color-stop(97%,rgba(32,32,32,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(28,28,28,1) 86%,rgba(32,32,32,1) 97%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(28,28,28,1) 86%,rgba(32,32,32,1) 97%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(28,28,28,1) 86%,rgba(32,32,32,1) 97%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(28,28,28,1) 86%,rgba(32,32,32,1) 97%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#202020',GradientType=0 ); /* IE6-9 */
	height:100%;
	width:100%;
}

.background_opaque3 {
	display: none;
	position:absolute;
	top:0;
	left:0;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(219,219,219,1) 86%, rgba(247,247,247,1) 97%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(86%,rgba(219,219,219,1)), color-stop(97%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(219,219,219,1) 86%,rgba(247,247,247,1) 97%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(219,219,219,1) 86%,rgba(247,247,247,1) 97%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(219,219,219,1) 86%,rgba(247,247,247,1) 97%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(219,219,219,1) 86%,rgba(247,247,247,1) 97%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
	height:100%;
	width:100%;
}

/* ========== The WORK Page ========== */

#workIntro {
	background: #f9f9f9;
	width: 100%;
	overflow: hidden;
}

.workIntroTitle {
	padding-top: 22%;
    padding-left: 16.6%;
    color: #202020;
    margin-bottom: 30px;
    font-size: 50px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    line-height: 75px;
}

.workIntroCopy {
	font-size: 18px;
    font-weight: 500;
    width: 70%;
    padding-left: 16.6% !important;
}

#workWrapper {
	padding: 0 10% 0px 10%;
	overflow: hidden;
}

.workItem {
    position: relative;
    width: 25%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    float: left;
}

	.workItem:hover .workHalfFill {
		background: rgba(20, 20, 20, 0.9);
		-webkit-transition: ease-out 0.1s;
	    -moz-transition: ease-out 0.1s;
	    -o-transition: ease-out 0.1s;
	    transition: ease-out 0.1s;
	}

	.workItem:hover .workHalfFill h2 {
		opacity:1;
		-webkit-transition: ease-out 0.1s;
	    -moz-transition: ease-out 0.1s;
	    -o-transition: ease-out 0.1s;
	    transition: ease-out 0.1s;
	}

	.workItem:hover .workHalfFill p {
		opacity:1;
		-webkit-transition: ease-out 0.1s;
	    -moz-transition: ease-out 0.1s;
	    -o-transition: ease-out 0.1s;
	    transition: ease-out 0.1s;
	}

	.workItem img {
		width: 100%;
		height: auto;
	}

	.workItem:hover img {
	    -ms-transform: scale(1.1);
	    -webkit-transform: scale(1.1);
	    transform: scale(1.1);
	    -webkit-transition: ease-out 0.2s;
	    -moz-transition: ease-out 0.2s;
	    -o-transition: ease-out 0.2s;
	    transition: ease-out 0.2s;
	}

.workHalfFill {
    width: 100%;
    height: 100%;
    padding: 5%;
    -webkit-transition: ease-out 0.1s;
    -moz-transition: ease-out 0.1s;
    -o-transition: ease-out 0.1s;
    transition: ease-out 0.1s;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.workContentWrap {
	position: absolute;
	bottom: 40px;
	left: 20px;
}

	.workContentWrap h2 {
		font-size: 40px;
	    line-height: 45px;
	    padding-right: 20px;
	    color: #fff;
	    opacity: 0;
	    -webkit-transition: ease-out 0.1s;
	    -moz-transition: ease-out 0.1s;
	    -o-transition: ease-out 0.1s;
	    transition: ease-out 0.1s;
	}

	.workContentWrap p {
		padding: 0 30px 0 0;
	    color: #fff;
	    opacity: 0;
	    width: 90%;
	}

.ourFriends {
	background: #202020;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

	.ourFriendsTitle {
		padding-top: 10%;
	    padding-left: 16.6%;
	    color: #202020;
	    margin-bottom: 30px;
	    font-size: 50px;
	    -webkit-animation-delay: 1s;
	    animation-delay: 1s;
	    line-height: 75px;	
	}

.friendWrap {
	width: 100%;
    height: auto;
    padding: 0 6.6666% 0 16.6666%;
    margin: 25px 0 15px 0;
}

.client {
    height: 150px;
    width: auto;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
}

	.client img {
	    height: 90px;
	    width: auto;
	}

/* ========== Single Journal Page ========== */

.singleJournal {
	position: relative;
	background: red;
}

#journalThumbnail {
	position: relative;
	height: 700px;
}

#journalThumbnail h1 {
	position: absolute;
	top: 10%;
	left: 15%;
	color: #FFF;
	z-index: 10;		
}	

/* ========== CONTACT US PAGE ========== */

.page-template-contactus header {
	position: absolute;
    top: 0px;
    z-index: 1;
    width: 100%;
}

#contactUsIntro {
    background: url(../img/contactHeader.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 0px 0 80px 0;
    position: relative;
    overflow: hidden;
}

	.contactUsHeader {
		padding-top: 30%;
	    padding-left: 16.6%;
	    color: #f9f9f9;
	    margin-bottom: 30px;
	    font-size: 50px;
	    position: relative;
	}

#vacancies {
	background: #202020;
	overflow: hidden;
}

.vacanciesHeader {
	padding-top: 2%;
    padding-left: 16.6%;
    color: #f9f9f9;
    margin-bottom: 30px;
    font-size: 50px;
}

.vacanciesCopy {
	padding: 0 16.6%;
	color: #FFF;
}

	/* ========== CONTACT US PAGE ACCORDIAN ========== */

	.accordian {
	    padding-left: 16.6%;
	    padding-right: 16.6%;
	}

		.accord-header:nth-child(1) {
		    border-top: 0px !important;
		}

		.accord-header {
		    border-top: 1px solid rgba(255, 255, 255, 0.22);
		    position: relative;
		    font-family: 'fira-sans-2';
		    font-weight: 800;
		    color: #fff;
		    font-size: 20px;
		    padding: 10px 0;
		    cursor: pointer;
		}

		.accord-header h3 {
		    padding: 30px 0;
		    font-size: 25px;
		    font-family: 'bebas_neue';
		    letter-spacing: 1px;
		    font-weight: 800;
		    color: #fff;
		}

		.plus {
		    position: absolute;
		    right: 20px;
		    top: 68px;
		    height: 20px;
		    width: 20px;
		    background: url(../img/plus.png) center center no-repeat;
		    background-size: cover;
		    cursor: pointer;
		}

		.accord-content {
		    display: none;
		    overflow: hidden;
		}

			.accord-content p {
			    color: #fff;
			    padding: 0 0 30px 0;
			    width: 90%;
			}

			.accord-content a {
			    color: #fff;
			    padding: 0 0 30px 0;
			    width: 90%;
			    float: left;
			    font-size: 18px;
		    	font-weight: 800;
			}

/* ==========================================*/
/* ============= RESPONSIVENESS =============*/
/* ==========================================*/

/*GENERAL*/

/****************************
***  Palm
****************************/
@media only screen and (max-width: 600px) {

#introHome {
	position: relative;
}

.introCopy {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 450px;
    margin: 0 auto;
    height: auto;
    padding-left: 0;
    text-align: center;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.introCopy a p {
    color: #202020;
    background: #fff;
    font-size: 18px;
    max-width: auto;
    font-size: 15px;
    width: 180px;
    padding: 10px 0px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 100px;
    margin: 0 auto;
    font-weight: 600;
}

/* ========== Nav ==========*/

#pageMenu {
    width: 100%;
    height: 55px;
    background: #202020;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
}

.menuIcon {
	top: 20px;
}

.homeNavLogo {
    left: 20px;
    right: auto;
    top: 63px;
    width: 160px;
}

.nav {
    position: absolute;
    left: 20px;
    top: auto;
    bottom: 27%;
}

.nav ul li h2 {
	font-size:50px;
	margin-top:0;
}

.appointments {
    position: absolute;
    right: auto;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 25%;
    background: #fff;
}

.terms {
	display:none;
}

/* ========== Locator bar ==========*/

#pageLocator {
    width: 100%;
    height: 55px;
    top: auto;
    left: 0;
    bottom: 0;
}

.locatorText {
    position: absolute;
    top: 14px;
    left: auto;
    right: 10px;
    text-align: right;
    width: 170px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.textContainer {
    position: absolute;
    height: 100px;
    width: 100%;
    margin: 0;
    right: 0;
}

#LLOne {
    position: fixed;
    width: 1px;
    height: 10px;
    bottom: 23px;
    left: 15px;
}

#LLTwo {
    position: fixed;
    width: 1px;
    height: 10px;
    bottom: 23px;
    left: 30px;
}

#LLThree {
    position: fixed;
    width: 1px;
    height: 10px;
    bottom: 23px;
    left: 45px;
}

#LLFour {
    position: fixed;
    width: 1px;
    height: 10px;
    bottom: 23px;
    left: 60px;
}

/* ========== Homepage ==========*/

#homeSelectServices {
	position: relative;
}

#homeValues {
	position: relative;
}

.cd-headline {
    padding-left: 0%;
    margin: 0;
    text-align: center;
    color: #fff;
    font-family: 'bebas_neue', serif;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    height: auto;
    line-height: 1;
}

.cd-intro {
	padding-top: 0 !important;
    top: 120px;
    position: absolute;
    width: 100%
}

.accreditationsHome {
    width: 100%;
    position: absolute;
    top: auto;
    right:auto;
    bottom: 70px;
    padding: 0 0 0 8px;
}

.accreditationsHome img {
    width: 70%;
}

#homeOurPeople {
    padding: 0;
}

.ourPeople {
    display: inline-block;
    vertical-align: top;
    width: 100%;
	overflow: hidden;
}

.ourPeopleIntro {
	width: 100%;
}

.ourPeopleMobFill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 40px 0 0 0;
    z-index: 9;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 24%, rgba(0,0,0,0.6) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(24%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.6)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0.6) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0.6) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0.6) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 );
}

.ourPeopleMobFill h2 {
    color: #fff;
    font-size: 35px;
    padding-left: 5%;
    margin-bottom: 0;
}

.ourPeopleMobFill p {
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    padding-left: 5%;
    margin-top: 5px;
}

.joinCTA {
	background: #fff;
}

.joinCTA h2 {
	margin-top: 0;
}

#homeValues {
	background: #202020;
	padding: 35px 25px 10px 25px;
	position: relative;
}

.ourBelief h2 {
	margin-top: 0;
}

.valuesBottom {
	color: #fff;
}

.valueThird p {
	color: #fff;
}

/* ========== Footer ==========*/

#footer {
	padding: 35px 25px;
	background: #202020;
	position: relative;
}

.contactMap2 {
	position: relative;
}

.footerContact {
	background: #202020;
	border-top: 1px solid #4C4C4C;
	padding: 50px 0 0 0;
}

.footerContact h3 {
	margin-top:0;
	color: #fff;
	margin-bottom: 0;
}

.footerContact p {
	color: #fff;
	margin-top: 0px;
}

.footerSM {
	border: 1px solid grey;
    padding: 15px 10px 11px 10px;
    margin: 18px 0;
}

.footerSM img {
	width: 40px;
    display: inline;
    margin-right: 7%;
}

.footerContact p {
    color: #fff;
    margin-top: 0px;
    display: inline;
}    

.footerSM p {
	position: absolute;
	font-family: "bebas_neue", serif;
	font-size: 30px;
    padding-top: 5px;
}

.contactMap2 {
    background: url(../img/Contact_BG.jpg) center center no-repeat;
    background-size: cover;
    height: 300px;
    width: 120%;
    margin-left: -10%;
    position: relative;
}

.contactMap2 .footerMessage h2 {
	font-family: "bebas_neue";
	font-size:50px;  
	padding-top: 12%;
}

.background_opaque h2 {
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 30px !important;
}

.contactMap2 .background_opaque h2 {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    cursor: pointer;
}

.contactMap2 .background_opaque:hover h2 {
    margin-top: -50px;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.footerMessage p {
    width: 80%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    margin-top: 30px;
    font-weight: 500;
    padding: 0 10%;
    opacity: 1;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.contactMap2 .background_opaque:hover p {
    opacity: 1;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    margin-top: 50px;
}

}

/****************************
***  Lap and up
****************************/
@media only screen and (min-width: 601px) {

.terms {
	display:block;
}

.appointments {
	display:block;
}

/* ========== Homepage ==========*/

#helloHome {
	height: auto;
    width: 100%;
    background-color: #fff;
    position: relative;
    padding: 10px 10%;
}

#helloHomeIntro {
	height: auto;
    width: 100%;
    position: relative;
    padding: 0 10% 50px 10%;
}

.helloHomeHeader{
	display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: center;
    padding: 40px 0;
}

.helloHomeMessage {
	display: inline-block;
	vertical-align: top;
	width: 100%;
    text-align: center;
    padding: 0 22% 40px 22%;
}

.helloHomeSelect {
	height: 300px;
	width: 100%;
	background: #202020;
}

.selectHalf {
	display: inline-block;
    vertical-align: top;
    width: 50%;
    text-align: center;
    height: 300px;
    color: #fff;
    padding: 7%;
    position: relative;
}    

.selectHalf h2 {
	font-size: 50px;
}

.selectHalf p {
	color:#fff;
}

.selectHalfFill {
	position: absolute;
	left: 0;
	top:0;
	background: rgba(0, 0, 0, 0.7);
	width:100%;
	height: 100%;
	padding-top: 80px;
}

#newBusiness {
	background: url("../img/home-slider-branding-2.png") center no-repeat;
	background-size: cover;
}

#existingBusiness {
	background: url("../img/strategy-slide.png") center no-repeat;
	background-size: cover;
}

.helloHomeContact {
	height:70px;
	width: 100%;
	background: #202020;
	padding: 10px 0;
}

.selectContactThird {
	display: inline-block;
    vertical-align: top;
    width: 33.333333%;
    text-align: center;
    height: 50px;
    color:#fff;
}

.selectContactThird p {
	color: #fff;
	font-weight: 600;
	letter-spacing: 2px;
	padding-top: 10px;
}

.selectContactThird p span {
	color: #fff;
	font-weight: 500;
	letter-spacing: 0px;
	padding-top: 10px;
}

#selectPhone {
	border-right: 1px solid #3E3E3E;
}

#selectEmail {
	border-right: 1px solid #3E3E3E;
}

.introCopy a p {
	font-size: 15px;
    width: 170px;
    padding: 10px 0px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 100px;
    font-weight: 600;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.introCopy a p:hover {
	background: #fff;
	color: #202020;
	-moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.introCopy a p span {
	margin-left: 10px;
    font-size: 20px;
	-moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.introCopy a p:hover span {
	margin-left: 20px;
	-moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.ourPeople {
    display: inline-block;
    vertical-align: top;
    width: 20%;
	overflow: hidden;
	position: relative;
}

.ourPeopleIntro {
	width: 60%;
	padding-top: 70px;
}    

.ourPeopleIntro h1 {
	padding: 0 14%;
}

.ourPeopleIntro p {
	padding: 0 14%;
}

.ourPeopleFill {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    -webkit-transition: ease-out 0.1s;
    -moz-transition: ease-out 0.1s;
    -o-transition: ease-out 0.1s;
    transition: ease-out 0.1s;
}

.ourPeopleFill:hover {
    display: block;
    background: rgba(20, 20, 20, 0.8);
    -webkit-transition: ease-out 0.1s;
    -moz-transition: ease-out 0.1s;
    -o-transition: ease-out 0.1s;
    transition: ease-out 0.1s;
}

.ourPeopleFill h2 {
    font-size: 27px;
    display: none;
    -webkit-transition: ease-out 0.1s;
    -moz-transition: ease-out 0.1s;
    -o-transition: ease-out 0.1s;
    transition: ease-out 0.1s;
}

.ourPeopleFill:hover h2 {
    display: block;
    text-align: center;
    color: #f9f9f9;
    font-size: 35px;
    letter-spacing: 2px;
    padding-top: 50%;
    -webkit-transition: ease-out 0.1s;
    -moz-transition: ease-out 0.1s;
    -o-transition: ease-out 0.1s;
    transition: ease-out 0.1s;
}

.ourPeopleFill p {
    display: none;
    text-align: center;
    color: #B2B2B2;
    font-weight: 500;
    -webkit-transition: ease-out 0.1s;
    -moz-transition: ease-out 0.1s;
    -o-transition: ease-out 0.1s;
    transition: ease-out 0.1s;
}

.ourPeopleFill:hover p {
    display: block;
    -webkit-transition: ease-out 0.1s;
    -moz-transition: ease-out 0.1s;
    -o-transition: ease-out 0.1s;
    transition: ease-out 0.1s;
}

.joinCTA {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    height: 100%;
    background: #f9f9f9;
    position: relative;
}

.joinCTA h2 {
	letter-spacing:2px; 
	font-size: 27px; 
	color:#202020;
	padding: 10% 14% 0% 10%;
}

.joinCTA p {
	color:#202020;
	padding: 0% 10%;
}

#homeValues {
	width: 100%;
    padding: 90px 0 5% 16.6%;
    font-size: 60px;
    height: auto;
    background: rgb(32, 32, 32);
    position: relative;
}

.valuesTop {
	width:100%; 
	height:auto; 
	margin-bottom:30px;
}

.ourBelief {
	width:85%;
    height: auto;
    margin-right: 2%;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
}

.ourBelief p {
	color: #C0C0C0;
    font-size: 25px;
    line-height: 40px;
}

.valuesBottom {
	width: 95%;
    height: auto;
}

.valueThird {
    width: 25%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin-right: 5%;
    color: #f5f5f5;
}

.valueThird h3 {
	color:#f5f5f5; 
	font-size: 27px; 
	letter-spacing: 2px;
}

.valueThird p {
	color:#C0C0C0; 
}

/* ========== Footer ==========*/

.footerContact {
    background: #202020;
    width: 100%;
    height: 250px;
    padding: 40px 16.6% 0 16.6%;
    position: relative;
}

.fcBorder {
	height: 1px; 
	background: rgba(255, 255, 255, 0.22); 
	margin: 0 auto;
}

.footerDetails {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    float: left;
}

.footerLeft {
    width: 45%;
    height: 200px;
}

.footerCenter {
    width: 40%;
    height: 200px;
}

.footerRight {
    width: 15%;
    height: 200px;
}

.footerDetails h3 {
    padding-top: 0%;
    padding-left: 0%;
    color: #f9f9f9;
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 2px;
}

.footerDetails p {
    color: #fff;
    font-family: "fira-sans-2", serif;
    display: inline;
}

.footerRight a {
    cursor: pointer;
}

.footerSM img {
    height: 15px;
    vertical-align: middle;
    margin: -1.5% 6.5% 0 -2%;
    cursor: pointer;
}

.contactMap2 {
    background: url(../img/Contact_BG.jpg) center center no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    position: relative;
    margin-top: -50px;
}

.contactMap2 .footerMessage h2 {
	font-family: "bebas_neue";
	font-size:50px;  
	padding-top: 12%;
}

.background_opaque h2 {
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 100px;
}

.contactMap2 .background_opaque h2 {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    cursor: pointer;
}

.contactMap2 .background_opaque:hover h2 {
    margin-top: -50px;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.footerMessage p {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    padding: 0 30% 0 30%;
    opacity: 0;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.contactMap2 .background_opaque:hover p {
    opacity: 1;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    margin-top: 50px;
}

}

/****************************
***  Lap
****************************/
@media only screen and (min-width: 601px) and (max-width: 1060px) {

/* ========== Nav open ==========*/

.homeNavLogo {
    left: 40px;
    top: 110px;
}

.nav {
    position: absolute;
    left: 50px;
    top: 200px;
}

.nav ul li h2 {
	font-size:90px;
	margin-top:0;
}

/* ========== Homepage ==========*/
	
.ourPeople {
    display: inline-block;
    vertical-align: top;
    width: 33.33333333%;
	overflow: hidden;
}

.ourPeopleIntro {
	width: 100%;
}

.ourPeopleFill {
	display: none;
}

.ourPeopleMobFill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 110px 0 0 0;
    z-index: 9;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 24%, rgba(0,0,0,0.6) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(24%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.6)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0.6) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0.6) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0.6) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 );
}

.ourPeopleMobFill h2 {
    color: #fff;
    font-size: 35px;
    padding-left: 5%;
    margin-bottom: 0;
}

.ourPeopleMobFill p {
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    padding-left: 5%;
    margin-top: 5px;
}

.joinCTA {
	width: 100%;
}

#homeValues {
	padding: 0 0 5% 16.6%;
}

.valueThird {
    width: 85%;
}

}

/****************************
***  Desk
****************************/
@media only screen and (min-width: 1061px) {
}	


/*SPECIFIC*/

/* ========== iPad ==========*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {

#introHome {
	position: relative;
}

.ourPeopleMobFill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 110px 0 0 0;
    z-index: 9;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 24%, rgba(0,0,0,0.6) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(24%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.6)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0.6) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0.6) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0.6) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 );
}

.ourPeopleMobFill h2 {
    color: #fff;
    font-size: 35px;
    padding-left: 5%;
    margin-bottom: 0;
}

.ourPeopleMobFill p {
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    padding-left: 5%;
    margin-top: 5px;
}

}

/* ========== iPad in landscape ==========*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 



}

/* ========== iPad in portrait ==========*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 

#pageMenu {
    width: 100%;
    height: 70px;
    background: #202020;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
}



}

